{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li style="display: flex; align-items: center;">
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item" >
				<h5>{{ artist.name }}</h5>
				
			</div>
		</a>
		<button style=" align-items: center; margin-left: 200px;" id="delete_artist" type="button" class="btn  btn-danger delete_artist" data-id="{{artist.id}}">Delete</button>
		<!-- <form action="/artists/{{artist.id}}/delete" method="DELETE" id="delForm">
			
		</form> -->
		
	</li>
	{% endfor %}
</ul>
<script>
	const btn = document.querySelectorAll('.delete_artist')

	for(let i =0; i < btn.length; i++)
	{
		const del = btn[i];
		del.onclick = function(e)
		{
			e.preventDefault();
			const del = e.target.dataset['id']
			fetch('/artists/'+del+'/delete', {
				method : 'DELETE',
			}).then((response)=>{
				console.log(response)
			})

		}

	}
// document.getElementById('delete_artist').onclick = function(e){
// 	e.preventDefault();
// 	const del = e.target.dataset['id']
// 	fetch('/artists/'+del+'/delete', {
// 		method : 'DELETE',
// 	}).then((response)=>{
// 		console.log(response)
// 	})
//}
</script>
{% endblock %}