{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGFydHl8ZW58MHx8MHx8&auto=format&fit=crop&w=500" alt="Front Party floor" class="home-image" style="border-radius: 10px; cursor: pointer;"/>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<!-- <h3 style="color: rgb(20, 144, 144);">Recently Listed Venue</h3>
		<ul>
			{% for venue in  data %}
			<li><b>{{venue.name}}</b>  </li>
			
			{% endfor %}
		</ul> -->

		{% with lists = data %}
        {% if lists %}
		<h3 style="color: rgb(20, 144, 144);">Recently Listed Venue</h3>
		<ul>
			{% for item in lists %}
				<li><b>{{item.name}}</b>  </li>
			{% endfor %}
		</ul>
          
         
        {% endif %}
        
      {% endwith %}

	</div>
	<div class="col-sm-6">
		<!-- <h3 style="color: rgb(20, 144, 144);" >Recently Listed Artists</h3>
		<ul>
			{% for artist in  artists %}
			<li> <b>{{artist.name}}</b> </li>

			{% endfor %}
		</ul> -->

		{% with lists = artists %}
        {% if lists %}
		<h3 style="color: rgb(20, 144, 144);">Recently Listed Artists</h3>
		<ul>
			{% for item in lists %}
				<li><b>{{item.name}}</b>  </li>
			{% endfor %}
		</ul>
          
         
        {% endif %}
        
      {% endwith %}
	</div>
</div>
{% endblock %}